
  <h1>
    <%= @restaurant.name %>
  </h1>

  <p class="mb-1">
    Where to find <%= @restaurant.name %>
  </p>
  <h3 class="ml-3">
     <%= @restaurant.address %>
  </h3>
  <p class="mb-1">
     For reservations call
  </p>
  <h3 class="ml-3">
    <%= @restaurant.phone_number %>
  </h3>
  <p class="mb-1">
    Served food is
  </p>
  <h3 class="ml-3">
    <%= @restaurant.category.capitalize %>
  </h3>
  <p class="mb-1">
    <%= pluralize(@restaurant.reviews.count, "Review") %>
  </p>
  <ul class="list-unstyled ml-3">  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= pluralize(review.rating, "Star") %>
      <% review.rating.to_i.times do  %>
      ⭐️
      <% end %>
      | <%= review.content %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Add a new Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary rounded"%>
  <%= link_to "Back to all Restaurants", restaurants_path, class: "ml-5 btn btn-primary rounded"%>
